<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Iron Giant Garage</title>

  <meta name="logged-in" content="<%= currentUser ? 'yes' : 'no' %>">
  <meta name="is-admin-user" content="<%= isAdmin ? 'yes' : 'no' %>">

  <link rel="stylesheet" href="/css/styles.css" />
</head>
